.dayPlanInput-container {
    flex: 0 0 auto;
    height: 100px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
}

#user-input-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
}

#user-input-table th,
#user-input-table td {
    padding: 12px 15px;
}

#user-input-table thread tr {
    background-color: #eeeeee;
    color: #090707;
    text-align: left;
}
#user-input-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#user-input-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#user-input-table tbody tr:last-of-type {
    border-bottom: 2px solid #eeeeee;
}
#user-input-table tbody tr.active-row {
    font-weight: bold;
    color: #090707;
}

input {
    border:0;
    outline:0;
}

input[type="text"]{
    background-color : #eeeeee;
    color: #090707;
    padding: 15px;
}

#comment input{
    padding: 15px 40px;
}


input:focus {
    outline:none!important;
    background-color: #d2d2d2;
}

.input-span {
    width: 100%;
    background-color: #eeeeee;
    color: #090707;
    padding: 15px
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/*TODO: Add Input Animation*/
/*TODO: Table should work on smaller laptops*/
/*TODO: Remove Placeholder on Focus */