.daySwitch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.daySwitch-container button,
.daySwitch-container p {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 0.8rem;
    padding: 0.2em 0.4em;
}

.daySwitch-container p {
    min-width: 25ch;
}

.daySwitch-container button:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}