/*  --------------------------------------------------
        Day (and date) switch
    -------------------------------------------------- */

.daySwitch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.daySwitch-container button,
.daySwitch-container p,
.daySwitch-container input[type="month"],
.daySwitch-container input[type="date"] {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 0.8rem;
    padding: 0.2em 0.4em;
}

.daySwitch-container p {
    min-width: 25ch;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.daySwitch-container input[type="month"],
.daySwitch-container input[type="date"] {
    border: 2px solid var(--clr-light);
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.daySwitch-container ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.daySwitch-container button:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}