
.toggle-container {
    width: 75%;
    height: 90px;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
}
.toggle-button {
    width: 100%;
    align-self: center;
    text-align: center;
    font-family: Arial, serif;
    padding: 2px;

    background: linear-gradient(to left, #fff 50%, #808080 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.toggle-button:hover {
    background: #808080 left;
    color: #FFFAFA;
    font-weight: bold;
}

.toggle-text {
    font-size: 24px;
}