nav ul {
    display: flex;
    list-style-type: none;
    background-color: var(--clr-accent);
    padding: 0.45em;
    padding-left: 3em;
    gap: 3em;
    margin-bottom: 8em;
    overflow: hidden;
}

nav a {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    text-decoration: none;
    padding: 0.25em;
}

nav a:hover,
nav a:focus {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}