<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="daySwitch-container" th:fragment="dateSwitch">
  <button id="left-dayPlan-switch" onclick="javascript:dp.startDate = dp.startDate.addMonths(-1); dp.update();">&lt;&lt;</button>
  <p id="dateSwitchDate" >dd, DD.MM.YYYY</p>
  <button id="right-dayPlan-switch" onclick="javascript:dp.startDate = dp.startDate.addMonths(1); dp.update();">&gt;&gt;</button>
</div>
</body>
</html>