<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="daySwitch-container" th:fragment="dateSwitch">
  <button id="left-dayPlan-switch" class="daySwitch-button Text button" onclick="javascript:dp.startDate = dp.startDate.addMonths(-1); dp.update();">&lt;&lt;</button>
  <button id="dateSwitchDate" class="dateSwitch-date-text Text" onclick="picker.show(); return false;">dd, DD.MM.YYYY</button>
  <button id="right-dayPlan-switch" class="daySwitch-button Text button" onclick="javascript:dp.startDate = dp.startDate.addMonths(1); dp.update();">&gt;&gt;</button>
</div>
</body>
</html>