<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="dayPlanInput-container" th:fragment="dayPlanInput">
    <table id="user-input-table">
        <thead>
        <tr>
            <th>Arbeitsbeginn</th>
            <th>Arbeitsende</th>
            <th>Pause</th>
            <th>Soll-Zeit</th>
            <th>Ist-Zeit</th>
            <th>Bemerkung</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="time" id="start_time" placeholder="hh:mm"></td>
            <td><input type="time" id="end_time" placeholder="hh:mm"></td>
            <td><input type="number" id="pause" placeholder="0"></td>
            <td><input type="text" id="soll" placeholder="hh:mm" disabled></td>
            <td><input type="text" id="ist" disabled placeholder="0"></td>
            <td><input type="text" id="comment"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>