<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
     <div class="toggle-container" th:fragment="toggle">
        <button class="toggle-button button" onclick="location.href='/';">
              <span>
                <span>Tagesübersicht</span>
                <span></span>
              </span>
        </button>
        <button class="toggle-button button" onclick="location.href='/overview';">
            <span><span>Übersicht</span></span>
        </button>
    </div>

</body>
</html>