<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
     <nav class="toggle-container" th:fragment="toggle">
         <ul>
             <li><a href="/dayplan">Tagesübersicht</a></li>
             <li><a href="/overview">Monatsübersicht</a></li>
         </ul>
         <!--
        <button class="toggle-button button" onclick="location.href='/dayplan';">
              <span>
                <span class="toggle-text Text">Tagesübersicht</span>
                <span></span>
              </span>
        </button>
        <button class="toggle-button button" onclick="location.href='/overview';">
            <span><span class="toggle-text Text">Übersicht</span></span>
        </button>
         -->
    </nav>
</body>
</html>