.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#set-standard-values {
    position: absolute;
    top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.3em;
    border: 2px solid var(--clr-light);
}

#set-standard-values:hover,
#set-standard-values:focus {
    background-color: var(--clr-light);
    color: var(--clr-accent);
    cursor: pointer;
}

main {
    display: grid;
    justify-content: center;
}

.filter-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
}

.filter-container svg {
    fill: var(--clr-accent);
    width: 1em;
    height: 1em;
    position: absolute;
    margin-left: 0.2em;
    transform: scale(-1, 1);
}

#filter-input {
    padding-left: 1.5em;
    width: 20rem;
}

#filter-input::placeholder {
    text-align: left;
}

.department-choice {
    display: inline;
}
.department-choice input {
    margin-left: 1em;
}

.APheader {
    background-color: var(--clr-accent);
    padding: 0.4em;
    margin-bottom: 4em;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-light);
    text-align: center;
}

.logout-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    margin-right: 2rem;

}

.svg-container {
    position: relative;
    font-size: 1.8rem;
    width: 3.2rem
}

.svg-container svg {
    fill: var(--clr-light);
    position: absolute;
    width: 3.2rem;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-container svg:hover,
.svg-container svg:focus {
    fill: var(--clr-accent);
    background-color: var(--clr-light);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 2em 0.5em hsl(0deg 0% 0% / 30%);
}

.APTable {
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
    overflow-y: scroll;
    border: 0.2em solid var(--clr-accent);
    text-align: center;
    margin-bottom: 4em;
    max-height: 70vh;
}

.APTable * {
    padding: 0.3em 0.9em;
}

.APTable thead tr {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

.APTable thead th:nth-of-type(1) {
    min-width: 20rem;
}

.APTable thead th:nth-of-type(3) {
    min-width: 20ch;
}

.APTable tbody tr td:first-of-type {
    text-align: left;
}

.APTable tbody tr:nth-of-type(even) {
    background-color: var(--clr-mid);
}

.APTable tbody tr:nth-of-type(odd) {
    background-color: var(--clr-light);
}

a,
button {
    background-color: var(--clr-accent);
    border: 0.1em solid var(--clr-accent);
    border-radius: 1em;
    color: var(--clr-light);
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.modal-content {
    width: 50em;
    min-height: 8em;
    margin: 5em auto;
    background-color: var(--clr-light);
    border-radius: 2em;
    box-shadow: 0 0 1em 0 var(--clr-dark);
}

.modal-content-request {
    width: 40em;
}

.modal-content-edit {
    min-width: 64em;
}

.modal-content__header {
    background-color: var(--clr-accent);
    display: flex;
    justify-content: space-between;
    padding: 0.4em 1.4em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-bottom: 1.5rem;
}

#edit-modal .modal-content__header {
    margin-bottom: 4em;
}

h2,
.close {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.2em;
    color: var(--clr-light);
}

.close:hover {
    cursor: pointer;
}

.modal-content__body {
    display: flex;
    justify-content: center;
}

.modal-content table {
    border-spacing: 2em 0.4em;
    text-align: center;
    margin-bottom: 1.5rem;
}

.modal-content table * {
    padding: 0.3em 0.9em;
}

.modal-content th {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border-radius: 1em;
}

.modal-content td {
    background-color: var(--clr-mid);
    border-radius: 1em;
}

#request-overview {

    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.event-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1.2em 2fr 1fr 1fr;
    border-bottom: 2px solid var(--clr-accent);
}

.event-container:last-of-type {
    border-bottom: none;
}

.event-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.2em;
}

.event-container div.event-type {
    justify-content: left;
}

.event-container svg {
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}

.svg-accept {
    fill: green;
}

.svg-deny {
    fill: red;
}

form[name="edit-user-data"] {
    display: grid;
    grid-template: 2em 2fr 3fr / 2fr 2fr;
    align-items: start;
}

#vacation-info th {
    min-width: 7rem;
    margin-bottom: 0;
}

.duration-container {
    margin-left: 3em;
}

.modal-content-edit .time-info {
    display:grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 0 2em;
}

.modal-content-edit .time-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0 2em;
}

.modal-content-edit fieldset {
    padding: 1em;
    border-color: var(--clr-accent);
    grid-row-start: span 2;
    margin: 0 2em 0 3em;
}

.modal-content-edit legend {
    font-size: 1.2rem;
    font-weight: 500;
}

#time-history {
    grid-row-start: 3;
    margin-left: 1em;
}

#time-history p {
    font-size: 1.2em;
    margin: 1rem 2rem 0.5rem;
    border-left: 2px solid var(--clr-accent);
    padding-left: 0.2em;
}

#time-history table {
    display: block;
    overflow-y: scroll;
    max-height: 9em;
}

#time-history thead {
    position: sticky;
    top: 0;
}

#time-history th:first-of-type {
    min-width: 8rem;
}

.modal-content-edit {
    position: relative;
}

.modal-content-edit input {
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid var(--clr-accent);
    min-width: 7em;
}

.modal-content-edit .duration-container input {
    min-width: 3em;
    width: 3em;
    text-align: center;
}

.modal-content-edit input:focus {
    outline: none;
    background-color: var(--clr-mid);
}

.modal-content-edit .duration-container label,
.modal-content-edit fieldset label {
    font-size: 0.8rem;
    opacity: 0.8;
}

.modal-content-edit fieldset label {
    margin-left: 0.4em;
}

.vacation-container {
    display: flex;
    justify-content: center;
    grid-row-start: span 2;
}

.vacation-container input {
    min-width: 10ch;
    max-width: 10ch;
    text-align: center;
    background-color: var(--clr-mid);
    padding: 0;
}

#save-user-data-button {
    padding: 0.3em 0.9em;
    position: absolute;
    right: 1.5em;
    bottom: 0;
    margin-bottom: 1em;
}

#save-user-data-button:hover {
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

/*
    Modal for setting default values
 */

.standard-values-modal {
    position: absolute;
    top: 0;
    left: 0;
}

.standard-values-modal .modal-content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard-values-modal table {
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
    overflow-y: scroll;
    border: 0.2em solid var(--clr-accent);
    text-align: center;
    max-height: 10.5em;
}

.standard-values-modal table * {
    padding: 0.3em 0.9em;
    border-radius: 0;
}

.standard-values-modal thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.standard-values-modal tbody tr:nth-of-type(even) td {
    background-color: var(--clr-mid);
}

.standard-values-modal tbody tr:nth-of-type(odd) td {
    background-color: var(--clr-light);
}

.svg-delete-container {
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.svg-delete {
    transform: scale(2);
    fill: red;
}

.standard-values-modal fieldset {
    padding: 0.8em 0.5em 0.5em;
    margin-bottom: 1.5rem;
    border-color: var(--clr-accent);
}

.standard-values-modal legend {
    font-size: 1.2em;
    font-weight: 500;
}

.standards-input-container {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1em / repeat(6, 1fr);
    column-gap: 0.5em;
    width: min-content;
}

.standards-input-container input {
    min-width: 7em;
}

.standards-input-container input:first-of-type {
    min-width: 8em;
}

.standards-input-container label {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-left: 0.4em;
}

#add-default-values {
    grid-row-start: span 2;
    padding: 0.3em;
    align-self: start;
}

#default-modal-message {
    margin-bottom: 1.5rem;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 0.2em;
    display: none;
}

/*
    Modal for AZN submissions
 */

.submissions-modal {
    position: absolute;
    top: 0;
    left: 0;
}

.submissions-modal .modal-content {
    width: 30em;
}

#submissions-container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

#submissions-container > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-accent);
    padding: 0.5em;
}

#submissions-container > div:last-of-type {
    border-bottom: none;
}

#submissions-container a {
    padding: 0.2em 0.6em;
    margin-left: 2em;
}