* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  --------------------------------------------------
        Checkboxes marking GLAZ/sick/vacation/holiday/sollzeit
    -------------------------------------------------- */

.radio-container {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.radio-container label {
    margin-right: 2em;
    padding-left: 0.2em;
}

.radio-container label:last-of-type {
    margin-right: 0;
}

.radio-container input {
    vertical-align: middle;
}

/*  --------------------------------------------------
        Save button
    -------------------------------------------------- */

.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.save-button-wrapper {
    width: 90%;
    display: flex;
    gap: 3em;
    justify-content: center;
    border-top: 2px solid var(--clr-accent);
}

#save-button {
    font-size: 1.4rem;
    font-weight: 700;;
    margin-top: 3rem;
    padding: 0.5em;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 0.8rem;
    cursor: pointer;
}

#delete-button {
    font-size: 1.1rem;
    background-color: var(--clr-light);
    margin-top: 3rem;
    padding: 0.5em;
    border: 3px solid var(--clr-mid);
    border-radius: 0.8rem;
    cursor: pointer;
}

#save-button:hover {
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

#delete-button:hover {
    background-color: var(--clr-mid);
}

.save-confirmation-container {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1em;
}
