.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-container2 {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}

.home-button:hover {
  background-color: var(--dl-color-gray-900);
}
.home-button:active {
  background-color: var(--dl-color-gray-500);
}
.home-button1 {
  width: 100%;
  font-size: 24px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Arial;
}
.home-button1:hover {
  background-color: var(--dl-color-gray-900);
}
.home-button1:active {
  background-color: var(--dl-color-gray-500);
}


.home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.home-container5 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
