* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  --------------------------------------------------
        Table
    -------------------------------------------------- */

.container {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid var(--clr-accent);
    text-align: center;
    max-height: 70vh;
    display: block;
    overflow-y: scroll;
}

table * {
    padding: 0.3em 0.9em;
}

thead {
    position: sticky;
    top: 0;
}

thead tr {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

tbody tr:nth-of-type(even) {
    background-color: var(--clr-mid);
}

tbody tr:nth-of-type(odd) {
    background-color: var(--clr-light);
}

/* Date, start, end, ist, soll*/
th:nth-of-type(1),
th:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(5),
th:nth-of-type(6) {
    width: 14ch;
}

/* Pause, GLAZ, sick, vacation, holiday, school */
th:nth-of-type(4),
th:nth-of-type(7),
th:nth-of-type(8),
th:nth-of-type(9),
th:nth-of-type(10),
th:nth-of-type(11){
    width: 8ch;
}

/* Comment */
th:nth-of-type(12) {
    width: 25ch;
}

td {
    border-right: 1px solid var(--clr-dark);
}

/*  --------------------------------------------------
        Submitting/Accepting/Denying AZN
    -------------------------------------------------- */

.azn-submit-container,
.azn-response-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1em;
    margin-top: 0.4em;
}

#azn-status,
#azn-status-admin {
    font-size: 1.2rem;
    font-weight: 500;
    border-right: 3px solid var(--clr-accent);
    padding-right: 0.5em;
    line-height: 100%;
}

#azn-status {
    text-decoration: none;
    cursor: default;
}

#azn-status:hover {
    text-decoration: none;
}

#azn-status span {
    font-weight: 600;
}

#submit-azn,
#accept-azn,
#deny-azn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.3em;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 0.8rem;
}

#submit-azn:hover,
#accept-azn:hover,
#deny-azn:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

#submit-azn:disabled,
#accept-azn:disabled,
#deny-azn:disabled,
#submit-azn:disabled:hover,
#accept-azn:disabled:hover,
#deny-azn:disabled:hover {
    cursor: default;
    color: #8e8e8e;
    background-color: #dedede;
    border-color: #8e8e8e;
}

/*  --------------------------------------------------
        AZN denial message
    -------------------------------------------------- */

#message-box {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: hsl(0, 0%, 0%, 0.5);
}

.message-box-content {
    width: 30em;
    margin: 5em auto;
    background-color: var(--clr-light);
    border-radius: 2em;
    box-shadow: 0 0 1em 0 var(--clr-dark);
}

.message-box-content__header {
    background-color: var(--clr-accent);
    padding: 0.4em 1.4em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-bottom: 2em;
}

.message-box-content__header h2,
.message-box-content__header span {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.2em;
    color: var(--clr-light);
}

.message-box-content__header span:hover {
    cursor: pointer;
}

.message-box-content__body {
    display: flex;
    justify-content: center;
}

.message-box-content__body > div {
    display: flex;
    flex-direction: column;
}

#sender {
    font-size: 1.1rem;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--clr-accent);
}

#sender-name {
    font-weight: 500;
}

label[for="denial-message"],
.message-label {
    font-size: 0.8rem;
}

#denial-message {
    resize: none;
    margin-bottom: 1em;
    padding: 0.2em;
}

#message-for-user {
    margin-bottom: 1em;
    width: 40ch;
    height: 6em;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 0.2em;
}

#send-message-button,
#acknowledge-message {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2em;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: 3px solid var(--clr-accent);
    border-radius: 0.8rem;
    margin-bottom: 2em;
}

#send-message-button:hover,
#acknowledge-message:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    color: var(--clr-accent);
}