* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

table {
    border-collapse: collapse;
    border: 0.2em solid var(--clr-accent);
}

table * {
    padding: 0.3em 0.9em;
}

thead tr {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

tbody tr:nth-of-type(even) {
    background-color: var(--clr-mid);
}

tbody tr:nth-of-type(odd) {
    background-color: var(--clr-light);
}