.overview-container-switch {
    align-self: center;
    display: grid;
    grid-template-columns: auto 10em auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.overview-display {
    text-align: center;
}

.dateSwitch-button {
    color: grey;
    text-align: center;
    border-width: 0;
    padding: 0 20px;
}