* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dp-container {
    display: flex;
    justify-content: center;
    padding: 0 3em;
    gap: 3em;
    margin-top: 5em;
}

.dp-wrapper {
    width: 100%;
    max-width: 100rem;
}

.overview-wrapper {
    display: grid;
    grid-template: repeat(2, 2.5ch) / 25ch 10ch;
    margin-top: 2.14rem;
}

/*
 Adjust sizing when using laptop screen
*/
@media screen and (max-width: 1536px) {
    .dp-container {
        margin-top: 3em;
    }

    .overview-wrapper {
        margin-top: 1.93rem;
    }
}