* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 2fr 3fr;
    align-items: start;
    text-align: left;
    margin-top: 7em;
}

.personal-information,
.current-stats {
    display: flex;
    border-spacing: 2em 0.4em;
    justify-self: right;
}

.personal-information th,
.personal-information td,
.current-stats th,
.current-stats td {
    min-width: 15em;
}

table * {
    padding: 0.3em 0.9em;
}

th {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border-radius: 1em;
}

td {
    background-color: var(--clr-mid);
    border-radius: 1em;
}

.year-overview {
    grid-row-start: span 2;
    border-spacing: 2em 0.4em;
    text-align: center;
    justify-self: center;
}

.year-overview th,
.year-overview td {
    min-width: 6em;
}

.year-overview tr :last-child {
    min-width: 12em;
}