<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <script src="//cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}">
    <link rel="stylesheet" th:href="@{/css/dayPlan.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/dayPlanInput.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/checkbox.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/adminSearchBar.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/clock.ico}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"  referrerpolicy="no-referrer"></script>

</head>
    <body>

         <div th:replace="fragments/AdminToggle :: toggle"></div>
         <div th:replace="fragments/dateSwitchDay :: dateSwitch"></div>

         <div class="dayPlanInput-container">
             <div class="grid">
                 <label for="start_time">Arbeitsbeginn</label>
                 <label for="end_time">Arbeitsende</label>
                 <label for="pause">Pause</label>
                 <label for="ist">Istzeit</label>
                 <label for="soll">Sollzeit</label>
                 <label for="comment">Bemerkung</label>
                 <input type="time" name="start_time" id="start_time" value="00:00">
                 <input type="time" name="end_time" id="end_time" value="00:00">
                 <input type="time" name="pause" id="pause" value="00:00">
                 <input type="time" name="ist" id="ist" value="00:00" disabled>
                 <input type="time" name="soll" id="soll" value="00:00" disabled>
                 <input type="text" name="comment" id="comment" maxlength="50">
             </div>
         </div>

         <div class="radio-container">
             <input type="checkbox" name="radio-glaz" id="radio-glaz" class="radio" value="glaz" onclick="onlyOneCheckBox(this)">
             <label for="radio-glaz">GLAZ</label>
             <input type="checkbox" name="radio-sick" id="radio-sick" class="radio" value="sick" onclick="onlyOneCheckBox(this)">
             <label for="radio-sick">Krank</label>
             <input type="checkbox" name="radio-vacation" id="radio-vacation" class="radio" value="vacation" onclick="onlyOneCheckBox(this)">
             <label for="radio-vacation">Urlaub</label>
             <input type="checkbox" name="radio-holiday" id="radio-holiday" class="radio" value="holiday" onclick="onlyOneCheckBox(this)">
             <label for="radio-holiday">Feiertag</label>
             <input type="checkbox" name="radio-school" id="radio-school" class="radio" value="school" onclick="onlyOneCheckBox(this)">
             <label for="radio-school">Schule</label>
         </div>

         <div class="save-button-container">
             <div class="save-button-wrapper">
                 <button id="save-button">Speichern</button>
             </div>
         </div>

         <div class="save-confirmation-container">
             <div id="save-confirmation"></div>
         </div>

        <script>
         // get time
        </script>
        <script th:src="@{/js/dayPlan.js}"></script>
        <script th:src="@{/js/adminSearchBar.js}"></script>
         <script th:src="@{/js/adminSearchBar.js}"></script>

    </body>
</html>
