<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/AdminPanel.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/admin.ico}">
</head>
<body class="unselectable">
    <header class="APheader"><h3>Admin Panel</h3></header>
    <main>
        <table class="pure-table APTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Schuld/Guthaben</th>
                <th>Krankheitstage</th>
                <th>GLAZ</th>
                <th>freie Urlaubstage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" onclick="redirect('x')">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.enabled}"></td>
                <td th:text="${user.tokenExpired}"></td>
            </tr>
            </tbody>
            <script th:src="@{/js/AdminPanel.js}"></script>
        </table>
    </main>
    <footer></footer>
</body>
</html>
