<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"  referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/monthPlan.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/adminSearchBar.css}">
    <script th:src="@{/js/helper/helper.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/AdminToggle :: toggle"></div>
    <div th:replace="fragments/dateSwitchMonthPlan :: dateSwitch "></div>

    <div class="container">
      <table>
        <thead>
        <tr>
          <th scope="column">Datum</th>
          <th scope="column">Arbeitsbeginn</th>
          <th scope="column">Arbeitsende</th>
          <th scope="column">Pause</th>
          <th scope="column">Istzeit</th>
          <th scope="column">Sollzeit</th>
          <th scope="column">GLAZ</th>
          <th scope="column">Krank</th>
          <th scope="column">Urlaub</th>
          <th scope="column">Feiertag</th>
          <th scope="column">Sollzeit</th>
          <th scope="column">Bemerkung</th>
        </tr>
        </thead>
          <tbody></tbody>
      </table>
      <div id="anz-response" class="azn-response-container">
        <p id="azn-status-admin"></p>
        <button id="deny-azn">Arbeitszeitnachweis ablehnen</button>
        <button id="accept-azn">Arbeitszeitnachweis annehmen</button>
      </div>
    </div>

    <script th:src="@{/js/monthPlan.js}"></script>
    <script th:src="@{/js/adminSearchBar.js}"></script>
    <script th:src="@{/js/adminCurrentPage.js}"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/

      let azn_accept = document.getElementById("accept-azn");
      let azn_deny = document.getElementById("deny-azn");
      let aznStatusAdmin = document.getElementById("azn-status-admin");

      azn_accept.addEventListener("click", (e) => {
        // Get CSRF token
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");

        // csrf to header
        axios.defaults.headers.put[header] = token
        axios.defaults.baseURL = "/admin/"
        // data
        axios.put("azn/accept", {
          "year": document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[1],
          "month": getNumberFromFullMonth(document.
          getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[0]),
          "userid": getQueryByName("userid").toString()

        }).then(async (res) => {
          // Display confirmation message if response is ok
          if (res.data) {
            document.getElementById("deny-azn").disabled = true;
            document.getElementById("accept-azn").disabled = true;
            aznStatusAdmin.innerText = "Arbeitszeitnachweis wurde angenommen";
          }
        }).catch((error) => {
          console.log(error)
        })
      })

     azn_deny.addEventListener("click", (e) => {
       // Get CSRF token
       const token = $("meta[name='_csrf']").attr("content");
       const header = $("meta[name='_csrf_header']").attr("content");

       // csrf to header
       axios.defaults.headers.put[header] = token
       axios.defaults.baseURL = "/admin/"

       /**
        * Prompts the admin to send a message to the user as to why the azn was denied.
        */
       function denialMessageAndDeny() {
         const messageBox = document.body.appendChild(document.createElement("div"));
         messageBox.id = "message-box";

         messageBox.innerHTML =
                 "<div class='message-box-content'>" +
                 "<div class='message-box-content__header'>" +
                 "<h2>Ablehnungsgrund</h2>" +
                 "</div>" +
                 "<div class='message-box-content__body'>" +
                 "<div>" +
                 "<label for='denial-message'>Ihre Nachricht:</label>" +
                 "<textarea name='denial-message' id='denial-message' rows='4' cols='50'></textarea>" +
                 "<button id='send-message-button'>Absenden</button>" +
                 "</div>" +
                 "</div>" +
                 "</div>"

         document.getElementById("send-message-button").addEventListener("click", () => {
           if (document.getElementById("denial-message").value.length >= 3) {
             // Save message

             // Get CSRF token
             const token = $("meta[name='_csrf']").attr("content");
             const header = $("meta[name='_csrf_header']").attr("content");

             // csrf to header
             axios.defaults.headers.post[header] = token
             // data
             axios.post("azn/message", {
               "message": document.getElementById("denial-message").value,
               "userid": getQueryByName("userid").toString(),
               "type": "AZN_MONTH",
               "year": document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[1],
               "month": getNumberFromFullMonth(document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[0]),

             }).then(async (res) => {
               // Display confirmation message if response is ok
               if (res.data) {
                 // close popup
                 document.getElementById("message-box").remove();

                 // send deny if message was send
                 axios.put("azn/deny", {
                   "year": document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[1],
                   "month": getNumberFromFullMonth(document.
                   getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[0]),
                   "userid": getQueryByName("userid").toString()

                 }).then(async (res) => {
                   // Display confirmation message if response is ok
                   if (res.data) {
                     document.getElementById("deny-azn").disabled = true;
                     document.getElementById("accept-azn").disabled = true;
                     aznStatusAdmin.innerText = "Arbeitszeitnachweis wurde noch nicht abgegeben";
                   }
                 }).catch((error) => {
                   console.log(error)
                 })
               }
             }).catch((error) => {
               console.log(error)
             })
           }
         })
       }

       // run function
        denialMessageAndDeny();
     })

      let data = /*[[${data}]]*/ null;
      let statusData = /*[[${status}]]*/ null;
      let sollData = /*[[${dataSoll}]]*/ null;

      if ((statusData.accepted == null && statusData.submitted == null)  || !statusData.submitted) {
        document.getElementById("deny-azn").disabled = true;
        document.getElementById("accept-azn").disabled = true;
        aznStatusAdmin.innerText = "Arbeitszeitnachweis wurde noch nicht abgegeben";
      }
      else if (statusData.accepted && statusData.submitted) {
        document.getElementById("deny-azn").disabled = true;
        document.getElementById("accept-azn").disabled = true;
        aznStatusAdmin.innerText = "Arbeitszeitnachweis wurde angenommen";
      }




      // Initially set viewedDate to the current date
      let viewedDate = new Date();

      // check if query is set
      url = new URL(window.location.href);

      if (url.searchParams.has('year') && url.searchParams.has('month')) {
        // url query's
        year = getQueryByName('year');
        month = getQueryByName('month');

        viewedDate = new Date(Number(year), Number(month), 1);
      }

      dateSwitchDate.textContent = `${getFullMonth(viewedDate.getMonth())} ${viewedDate.getFullYear()}`;

      displayTable(viewedDate, data, sollData);

      /*]]>*/
    </script>
  </body>
</html>