<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/calendar.ico}">
    <script th:src="@{/js/daypilot-all.js}"></script>
</head>
    <body>

        <div th:replace="fragments/AdminToggle :: toggle"></div>
        <div th:replace="fragments/dateSwitch :: dateSwitch "></div>

        <div class="dp-container">
            <div class="dp-wrapper">
                <div id="dp"></div>
            </div>
            <div class="overview-wrapper">
                <p>Guthaben/Schuld:</p>
                <p>00h 00min</p>
                <p>Freie Urlaubstage:</p>
                <p>0 Tage</p>
                <p>Freie Urlaubstage nach Urlaubsantragannahme:</p>
                <p>0 Tage</p>
            </div>
            <div class="legend-wrapper">
                <div class="color-box color-box__vacation-pending"></div>
                <span>Urlaub (wartend)</span>
                <div class="color-box color-box__vacation"></div>
                <span>Urlaub (genehmigt)</span>
                <div class="color-box color-box__vacation-universal"></div>
                <span>Urlaub (universal)</span>
                <div class="color-box color-box__overtime-pending"></div>
                <span>GLAZ (wartend)</span>
                <div class="color-box color-box__overtime"></div>
                <span>GLAZ (genehmigt)</span>
                <div class="color-box color-box__sick"></div>
                <span>Krank</span>
            </div>
        </div>

        <script th:src="@{/js/overviewAdmin.js}"></script>

    </body>
</html>