<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/AdminPanel.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/admin.ico}">
</head>
<body class="unselectable">

    <div class="modal" id="prev-year-modal">
        <div class="modal-content modal-content-prev-year">
            <div class="modal-content__header">
                <h2>USER NAME</h2>
                <span class="close close-prev-year-modal">&times;</span>
            </div>
            <div class="modal-content__body">
                <table id="year-overview-table">
                    <thead>
                        <tr>
                            <th scope="col">Jahr</th>
                            <th scope="col">Arbeit</th>
                            <th scope="col">Krank</th>
                            <th scope="col">Urlaub</th>
                            <th scope="col">GLAZ</th>
                            <th scope="col">Zeitkonto</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="edit-modal">
        <div class="modal-content modal-content-edit">
            <div class="modal-content__header">
                <h2>USER NAME</h2>
                <span class="close close-edit-modal">&times;</span>
            </div>
            <div class="modal-content__body">
                <form name="edit-user-data" action="" method="">
                    <div class="personal-info">
                        <input type="text" name="first-name" id="first-name" required>
                        <label for="first-name">Vorname</label>
                        <input type="text" name="last-name" id="last-name" required>
                        <label for="last-name">Nachname</label>
                        <input type="text" name="department" id="department" required>
                        <label for="department">Abteilung</label>
                    </div>

                    <div class="work-info">
                        <input type="time" name="work-start" id="work-start" required>
                        <label for="work-start">Arbeitsbeginn</label>
                        <input type="time" name="work-end" id="work-end" required>
                        <label for="work-end">Arbeitsende</label>
                        <input type="text" name="vacation" id="vacation" required>
                        <label for="vacation">Urlaubstage</label>
                    </div>
                    <button id="save-user-data-button">Speichern</button>
                </form>
            </div>
        </div>
    </div>

    <header class="APheader"><h1>Admin Panel</h1></header>

    <main>
        <table class="APTable" id="APTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Zeitkonto</th>
                    <th scope="col">Krankheitstage</th>
                    <th scope="col">GLAZ</th>
                    <th scope="col">Freie Urlaubstage</th>
                    <th scope="col">Anfragen</th>
                    <th scope="col">Jahresübersicht</th>
                    <th scope="col">Bearbeiten</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}" th:onclick="'redirect('+ *{user.id} +')'"></td>
                    <td th:text="${user.username}" th:onclick="'redirect('+ *{user.id} +')'"></td>
                    <td th:text="${user.password}" th:onclick="'redirect('+ *{user.id} +')'"></td>
                    <td th:text="${user.enabled}" th:onclick="'redirect('+ *{user.id} +')'"></td>
                    <td th:text="${user.tokenExpired}" th:onclick="'redirect('+ *{user.id} +')'"></td>
                </tr>
                <tr>
                    <td>Leonard</td>
                    <td>2h 20min Schulden</td>
                    <td>5</td>
                    <td>1</td>
                    <td>4</td>
                    <td><a href="#">1</a></td>
                    <td><button class="prev-year-btn">Anzeigen</button></td>
                    <td><button class="edit-btn">Bearbeiten</button></td>
                </tr>
                <tr>
                    <td>Christian</td>
                    <td>4h 33min Guthaben</td>
                    <td>1</td>
                    <td>2</td>
                    <td>8</td>
                    <td><a href="#">0</a></td>
                    <td><button class="prev-year-btn">Anzeigen</button></td>
                    <td><button class="edit-btn">Bearbeiten</button></td>
                </tr>
            </tbody>
        </table>
    </main>


    <script th:src="@{/js/AdminPanel.js}"></script>
</body>
</html>
