<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
<div id='error'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <span>ENTSCHULDIGUNG</span>
        <p class="p-a">
            die gewünschte Seite konnte nicht gefunden werden</p>
        </p>
        <a href='/' class="back">Zurück zur Startseite</a>
    </div>
</div>
</body>
</html>