<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}">
    <link rel="stylesheet" th:href="@{/css/generalOverview.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/overviewModal.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/radio.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/calendar.ico}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script th:src="@{/js/daypilot-all.js}"></script>
    <script th:src="@{/js/helper/helper.js}"></script>
</head>
<body>

<header id="general-overview-header">
    <h1>Betriebsschließungs-/Ferientage</h1>
    <nav>
        <a id="admin-link" href="/admin">Admin Panel</a>
    </nav>
    <div class="logout-container">
        <a href="/mclogout" class="svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/>
            </svg>
        </a>
    </div>
</header>

<div th:replace="fragments/dateSwitchMonth :: dateSwitch "></div>

<div class="dp-container">
    <div class="dp-wrapper">
        <div id="dp"></div>
    </div>
    <div class="overview-wrapper">
        <p>Genutze Urlaubstage:</p>
        <p>00</p>
    </div>
    <button id="create-event-button">Eintrag einfügen</button>
    <div class="legend-wrapper">
        <div class="color-box" id="colorGeneralVacation"></div>
        <span>Urlaub (universal)</span>
        <div class="color-box" id="colorGeneralHoliday"></div>
        <span>Feiertag</span>
    </div>
</div>

<script th:src="@{/js/helper/colors.js}"></script>
<script th:src="@{/js/generalOverview.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var rawEvent = /*[[${data}]]*/ 'default';

    events = [];
    eventCount = rawEvent.length;
    for (let i = 0; i < eventCount; i++) {
        event = rawEvent[i];
        event["end"] = event["end"] + 1
        if (event["tag"] == "gUrlaub") {
            events.push({
                start: new DayPilot.Date(event["start"]),
                end: new DayPilot.Date(event["end"]),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGeneralVacation,
                barColor: colors.colorGeneralVacation,
                borderColor: colors.colorGeneralVacation,
            })
        } else if (event["tag"] == "gFeiertag") {
            events.push({
                start: new DayPilot.Date(event["start"]),
                end: new DayPilot.Date(event["end"]),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGeneralHoliday,
                barColor: colors.colorGeneralHoliday,
                borderColor: colors.colorGeneralHoliday,
            })
        }
    }

    dp.update({events})
</script>
</body>
</html>