<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/monthPlan.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
  </head>
  <body>
    <div th:replace="fragments/toggle :: toggle"></div>
    <div th:replace="fragments/dateSwitchMonth :: dateSwitch"></div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th scope="column">Datum</th>
            <th scope="column">Arbeitsbeginn</th>
            <th scope="column">Arbeitsende</th>
            <th scope="column">Pause</th>
            <th scope="column">Istzeit</th>
            <th scope="column">Sollzeit</th>
            <th scope="column">GLAZ</th>
            <th scope="column">Krank</th>
            <th scope="column">Urlaub</th>
            <th scope="column">Feiertag</th>
            <th scope="column">Schule</th>
            <th scope="column">Bemerkung</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div id="jump-to-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
    </div>

  </body>
</html>