<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/monthPlan.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script th:src="@{/js/helper/helper.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/toggle :: toggle"></div>
    <div th:replace="fragments/dateSwitchMonthPlan :: dateSwitch"></div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th scope="column">Datum</th>
            <th scope="column">Arbeitsbeginn</th>
            <th scope="column">Arbeitsende</th>
            <th scope="column">Pause</th>
            <th scope="column">Istzeit</th>
            <th scope="column">Sollzeit</th>
            <th scope="column">GLAZ</th>
            <th scope="column">Krank</th>
            <th scope="column">Urlaub</th>
            <th scope="column">Feiertag</th>
            <th scope="column">Schule</th>
            <th scope="column">Bemerkung</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="azn-submit-container">
        <p id="azn-status"></p>
        <button id="submit-azn">Arbeitszeitnachweis abgeben</button>
      </div>
    </div>
    <script th:src="@{/js/monthPlan.js}"></script>
    <script th:src="@{/js/userCurrentPage.js}"></script>

    <script th:inline="javascript">
      /*<![CDATA[*/

      let data = /*[[${data}]]*/ null;
      let status = /*[[${status}]]*/ null;
      const submitButtonC = document.getElementById("submit-azn");

      aznStatus.innerHTML = "";
      submitButtonC.disabled = false;

      if (status.accepted === null || status.submitted == null) {
        aznStatus.innerHTML = "";
        submitButtonC.disabled = false;
      }else if (status.accepted) {
        aznStatus.innerHTML = "Angenommen <span>&check;</span>";
        submitButtonC.disabled = true;
        aznStatus.getElementsByTagName("span")[0].style.color = "green";
      } else if (status.submitted) {
        aznStatus.innerHTML = "Abgegeben <span>&olarr;</span>";
        submitButtonC.disabled = true;
        aznStatus.getElementsByTagName("span")[0].style.color = "blue";
      } else if (!status.accepted && !status.submitted) {
        aznStatus.innerHTML = "Abgelehnt <span>&times;</span>";
        submitButtonC.disabled = false;
        aznStatus.style.textDecoration = "underline";
        aznStatus.style.cursor = "pointer";
        aznStatus.getElementsByTagName("span")[0].style.color = "red";
        aznStatus.addEventListener("click", showMessage);
      }


      // Initially set viewedDate to the current date
      let viewedDate = new Date();

      // check if query is set
      url = new URL(window.location.href);

      if (url.searchParams.has('year') && url.searchParams.has('month')) {
        // url query's
        year = getQueryByName('year');
        month = getQueryByName('month');

        viewedDate = new Date(Number(year), Number(month), 1);
      }

      dateSwitchDate.textContent = `${getFullMonth(viewedDate.getMonth())} ${viewedDate.getFullYear()}`;

     if (data) {
       displayTable(viewedDate, data);
     }

      // get message if denied
      axios.get("/monthplan/message", {
        params: {
          "type": "AZN_MONTH",
          "year": document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[1],
          "month": getNumberFromFullMonth(document.getElementById("dateSwitchDateMonthPlan").innerHTML.split(' ')[0]),
        }
      }).then(async (res) => {
        // Display confirmation message if response is ok
          if (res.data !== '' && (res.data.constructor === Object || res.data.constructor === Array)) {
            if (res.data.message !== undefined) {
              showMessage(res.data.message)

              // set message read true
              // Get CSRF token
              const token = $("meta[name='_csrf']").attr("content");
              const header = $("meta[name='_csrf_header']").attr("content");

              // csrf to header
              axios.defaults.headers.put[header] = token
              // data
              axios.put("/message/true?messageId="+ res.data.messageId, {

              }).then(async (res) => {
                // Display confirmation message if response is ok
                if (res.data) {
                  submitButton.setAttribute("disabled", "")
                  aznStatus.innerHTML = "Abgegeben <span>&olarr;</span>";
                  aznStatus.getElementsByTagName("span")[0].style.color = "blue";
                  aznStatus.removeEventListener("click", showMessage);
                  aznStatus.style.textDecoration = "none";
                  aznStatus.style.cursor = "default";
                }
              }).catch((error) => {
                console.log(error)
              })
            }
          }
      }).catch((error) => {
        console.log(error)
      })
      /*]]>*/
    </script>
  </body>
</html>