<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/noRole.css}"/>

</head>
<body>
<div id="main">
       <div th:if="${hasRole}" class="fof for_green role_text">
           <h1 class=>User has a role</h1>
       </div>
       <div th:unless="${hasRole}" class="fof for_red role_text">
           <h1>User <span th:text="${username}"></span> has no role</h1>
           <p class="noRole-text">Please contact your administrator</p>
       </div>
</div>
</body>
</html>
