<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/calendar.ico}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script th:src="@{/js/daypilot-all.min.js?v=2022.2.384}"></script>
    <link rel="stylesheet" th:href="@{/css/themes/month_white.css}"/>
</head>
<body>
<div>
    <div class="base-container">
        <div class="base-container2">
            <div th:replace="fragments/toggle :: toggle"></div>
            <div class="overview-container-switch">
                <div>
                    <button class="dateSwitch-button Text" onclick="previousMonth()">&lt;&lt;</button>
                </div>
                <div class="overview-display">
                    <a id="start"></a>
                </div>
                <div>
                    <button class="dateSwitch-button Text" onclick="nextMonth()">&gt;&gt;</button>
                </div>
            </div>
            <div id="dp"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/overview.js}"></script>
</body>
</html>
