<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/calender.ico}">



</head>
<body>
<div>
    <div class="base-container">
        <div class="base-container2">
            <div th:replace="fragments/toggle :: toggle"></div>
            <div th:replace="fragments/dateSwitch :: dateSwitch "></div>
        </div>
    </div>
</div>
</body>
</html>
