<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/overview.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/daySwitch.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/overviewModal.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/radio.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/calendar.ico}"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script th:src="@{/js/daypilot-all.js}"></script>
    <script th:src="@{/js/helper/helper.js}"></script>
</head>
<body>

    <div th:replace="fragments/toggle :: toggle"></div>
    <div th:replace="fragments/dateSwitchMonth :: dateSwitch"></div>

    <div class="dp-container">
        <div class="dp-wrapper">
            <div id="dp"></div>
        </div>
        <div class="overview-wrapper">
            <p>Guthaben/Schuld:</p>
            <p th:if="${balance}" th:text="${balance.asText().substring(0, balance.asText().length() - 3)}"></p>
            <p>Freie Urlaubstage:</p>
            <p th:if="${stats}" th:text="${stats.get('availableVacationWithRequestedCount').asText().concat(' d')}"></p>
            <p>Freie Urlaubstage nach Urlaubsantragsannahme:</p>
            <p th:if="${stats}" th:text="${stats.get('availableVacation').asText().concat(' d')}"></p>
        </div>
        <button id="create-event-button">Eintrag einfügen</button>
        <div class="legend-wrapper">
            <div class="color-box" id="colorVacationPending"></div>
            <span>Urlaub (wartend)</span>
            <div class="color-box" id="colorVacation"></div>
            <span>Urlaub (genehmigt)</span>
            <div class="color-box" id="colorGeneralVacation"></div>
            <span>Urlaub (universal)</span>
            <div class="color-box" id="colorGeneralHoliday"></div>
            <span>Feiertag</span>
            <div class="color-box" id="colorGLAZPending"></div>
            <span>GLAZ (wartend)</span>
            <div class="color-box" id="colorGLAZ"></div>
            <span>GLAZ (genehmigt)</span>
            <div class="color-box" id="colorSick"></div>
            <span>Krank</span>
        </div>
    </div>
<script th:src="@{/js/colors.js}"></script>
<script th:src="@{/js/overviewUser.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var rawEvent = /*[[${data}]]*/ 'default';

    events = [];
    eventCount = rawEvent.length;
    for (let i = 0; i < eventCount; i++) {
        event = rawEvent[i];
        event["end"] = event["end"] + 1
        event["start"] = event["start"] + 1
        console.log(event)
        var enddate = new DayPilot.Date(event["end"]);
        var startdate = new DayPilot.Date(event["start"])
        enddate = new DayPilot.Date(`${enddate.toString()}-01:00`).toString(0)
        startdate = new DayPilot.Date(`${startdate.toString()}-01:00`).toString(0)
        
        if (event["tag"] == "Urlaub") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorVacation,
                barColor: colors.colorVacation,
                borderColor: colors.colorVacation,
            })
        } else if (event["tag"] == "Krank") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorSick,
                barColor: colors.colorSick,
                borderColor: colors.colorSick,
            })
        } else if (event["tag"] == "GLAZ") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGLAZ,
                barColor: colors.colorGLAZ,
                borderColor: colors.colorGLAZ,
            })
        } else if (event["tag"] == "gUrlaub") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGeneralVacation,
                barColor: colors.colorGeneralVacation,
                borderColor: colors.colorGeneralVacation,
            })
        } else if (event["tag"] == "rUrlaub") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorVacationPending,
                barColor: colors.colorVacationPending,
                borderColor: colors.colorVacationPending,
            })
        } else if (event["tag"] == "rGLAZ") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGLAZPending,
                barColor: colors.colorGLAZPending,
                borderColor: colors.colorGLAZPending,
            })
        } else if (event["tag"] == "gFeiertag") {
            events.push({
                start: new DayPilot.Date(startdate, true),
                end: new DayPilot.Date(enddate, true),
                text: event["text"],
                tag: event["tag"],
                id: event["id"],
                backColor: colors.colorGeneralHoliday,
                barColor: colors.colorGeneralHoliday,
                borderColor: colors.colorGeneralHoliday,
            })
        }
    }

    dp.update({events})
    let dealtDayplan = /*[[${daydata}]]*/ 'default';
    if (dealtDayplan !== null) {
        dealtDayplan.forEach(colorCell);
    }

    /*]]>*/
</script>
    <script th:src="@{/js/userCurrentPage.js}"></script>
</body>
</html>
