<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jahresübersicht</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/yearPlan.css}"/>
    <script th:src="@{/js/helper/yearOverviewTable.js}"></script>
</head>
<body>
    <div th:replace="fragments/toggle :: toggle"></div>
    <div class="container">

        <table class="personal-information">
            <tr> 
                <th scope="row">Name:</th>
                <td id="person-name" th:text="${data.get('fullName').asText()}"></td>
            </tr>
            <tr>
                <th scope="row">Wochenarbeitszeit:</th>
                <td id="person-weekly-time" th:text="${data.get('weeklyWorkTime').asText()}"></td>
            </tr>
            <tr>
                <th scope="row">Tagesarbeitszeit:</th>
                <td id="person-daily-time" th:text="${data.get('dailyWorkTime').asText().substring(0,5).concat('h')}"></td>
            </tr>
            <tr>
                <th scope="row">Tagesarbeitszeit seit:</th>
                <td id="person-daily-time-date"
                    th:text="${#dates.format(new java.util.Date(data.get('workTimeDate').asLong()), 'dd.MM.yyyy')}"></td>
            </tr>
        </table>

        <table class="current-stats">
            <tr>
                <th scope="row">Aktuelles Zeitkonto:</th>
                <td th:if="${balance}" th:text="${balance.asText().substring(0, balance.asText().length() - 3)}" id="stat-overtime"></td>
            </tr>
            <tr>
                <th scope="row">Urlaubsübertrag Vorjahr:</th>
                <td th:text="${data.get('vacationFromLastYear').asText().concat(' d')}" id="stat-previous-vacation"></td>
            </tr>
            <tr>
                <th scope="row">Summe Urlaubstage:</th>
                <td th:text="${data.get('sumVacationDays').asText().concat(' d')}" id="stat-total-vacation"></td>
            </tr>
            <tr>
                <th scope="row">Verbrauchte Urlaubstage:</th>
                <td th:text="${data.get('usedVacationDays').asText().concat(' d')}" id="stat-used-vacation"></td>
            </tr>
            <tr>
                <th scope="row">Verfügbare Urlaubstage:</th>
                <td th:text="${data.get('totalVacationDays').asText().concat(' d')}" id="stat-available-vacation"></td>
            </tr>
        </table>

        <table class="year-overview" id="year-overview">
            <thead>
                <tr>
                    <th scope="col">Jahr</th>
                    <th scope="col">Arbeit</th>
                    <th scope="col">Krank</th>
                    <th scope="col">Urlaub</th>
                    <th scope="col">GLAZ</th>
                    <th scope="col">Zeitkonto</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
<!--    <script th:src="@{/js/yearPlan.js}"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    let years =/*[[${data.get('years')}]]*/ null;
    let data = /*[[${data}]]*/ null;

    // TODO: Use VacationSick!!!

    // go over each year
    for (let year in years) {
        work = years[year].workDay !== undefined ? years[year].workDay : 0;
        sick = years[year].sickDay !== undefined ? years[year].sickDay : 0;
        vacation = years[year].availableVacation !== undefined ? years[year].availableVacation : 0;
        glaz = years[year].glazDay !== undefined ? years[year].glazDay : 0;
        balance =  years[year].balance !== undefined ? years[year].balance : 0;

        addYear(year, work, sick, vacation, glaz, balance, "year-overview")
    }

    console.log(data);

    /*]]>*/
</script>
    <script th:src="@{/js/userCurrentPage.js}"></script>
</body>
</html>