<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jahresübersicht</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/toggle.css}"/>
    <link rel="stylesheet" th:href="@{/css/yearPlan.css}"/>
    <script th:src="@{/js/helper/yearOverviewTable.js}"></script>
</head>
<body>
    <div th:replace="fragments/toggle :: toggle"></div>
    <div class="container">

        <table class="personal-information">
            <tr> 
                <th scope="row">Name:</th>
                <td id="person-name" th:text="${data.get('fullName').asText()}"></td>
            </tr>
            <tr>
                <th scope="row">Tagesarbeitszeit:</th>
                <td id="person-daily-time">7h 42min</td>
            </tr>
            <tr>
                <th scope="row">Wochenarbeitszeit:</th>
                <td id="person-weekly-time">38,5h</td>
            </tr>
        </table>

        <table class="current-stats">
            <tr>
                <th scope="row">Aktuelles Zeitkonto:</th>
                <td id="stat-overtime">00h 00min</td>
            </tr>
            <tr>
                <th scope="row">Urlaubsübertrag Vorjahr:</th>
                <td id="stat-previous-vacation">0</td>
            </tr>
            <tr>
                <th scope="row">Summe Urlaubstage:</th>
                <td id="stat-total-vacation">30</td>
            </tr>
            <tr>
                <th scope="row">Verbrauchte Urlaubstage:</th>
                <td id="stat-used-vacation">30 Tage</td>
            </tr>
            <tr>
                <th scope="row">Verfügbare Urlaubstage:</th>
                <td id="stat-available-vacation">0 Tage</td>
            </tr>
        </table>

        <table class="year-overview" id="year-overview">
            <thead>
                <tr>
                    <th scope="col">Jahr</th>
                    <th scope="col">Arbeit</th>
                    <th scope="col">Krank</th>
                    <th scope="col">Urlaub</th>
                    <th scope="col">GLAZ</th>
                    <th scope="col">Zeitkonto</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
<!--    <script th:src="@{/js/yearPlan.js}"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    let years =/*[[${data.get('years')}]]*/ null;

    // TODO: Use VacationSick!!!

    // go over each year
    for (let year in years) {
        work = years[year].workDay !== undefined ? years[year].workDay : 0;
        sick = years[year].SickDays !== undefined ? years[year].SickDays : 0;
        vacation = years[year].availableVacation !== undefined ? years[year].availableVacation : 0;
        glaz = years[year].glazDays !== undefined ? years[year].glazDays : 0;

        addYear(year, work, sick, vacation, glaz, "No Data yet!", "year-overview")
    }

    console.log(years);

    /*]]>*/
</script>
</body>
</html>